<div class="container">
{%	with	user=action.user	profile=action.user.profile	%}


    <div class="row action">
         
	      <div 	class="images col-md-0" >
             	{%	if	profile.photo	%}
	
                  	<a	href="{{	user.get_absolute_url	}}">
                    <img	src="{{	user.profile.photo.url	}}"	class="image-action-detail">
	                </a>
                
                {% endif %}
          </div>
                <div	class="col-md-0">
                {%	if	action.target	%}
	                {%	with	target=action.target	%}
	                    {%	if	target.image	%}
	                        <a	href="{{	target.get_absolute_url	}}">
                            <img	src="{{	target.image.url	}}"	class="image-action-detail">
	                        </a>
	
	                    {%	endif	%}
	                {%	endwith	%}
			    {%	endif	%}
            </div>
    
	        <div	class="col-md-4">
             <p>
                    <span	class="date">{{	action.created|timesince	}}	ago</span>
                    <br	/>
                    <a	href="{{	user.get_absolute_url	}}">
                    {{	user.first_name	}}
                    </a>
                    {{	action.verb	}}
                    {%	if	action.target	%}
                        {%	with	target=action.target	%}
                            <a	href="{{	target.get_absolute_url	}}">{{	target	}}</a>
                        {%	endwith	%}
                    {%	endif	%}
            </p>
            </div>
    
    </div>
    <br><br><br>
    {%	endwith	%}
    </div>
